name: "action-setup-kube-tools Test"
on:
  pull_request:
  push:
    branches:
      - master
      - 'releases/*'
      - 'v*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: '20.x'
    - run: |
        npm install
        npm run all
  test1:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ./
      id: setup
    - run: |
        kubectl version --output=json
        kustomize version
        helm version
        kubeval --version
        kubeconform -v
        conftest --version
        yq --version
        rancher --version
        tilt version
        skaffold version
        kube-score version
    - run: |
        kubectl=${{steps.setup.outputs.kubectl-path}}
        kustomize=${{steps.setup.outputs.kustomize-path}}
        helm=${{steps.setup.outputs.helm-path}}
        kubeval=${{steps.setup.outputs.kubeval-path}}
        kubeconform=${{steps.setup.outputs.kubeconform-path}}
        conftest=${{steps.setup.outputs.conftest-path}}
        yq=${{steps.setup.outputs.yq-path}}
        rancher=${{steps.setup.outputs.rancher-path}}
        tilt=${{steps.setup.outputs.tilt-path}}
        skaffold=${{steps.setup.outputs.skaffold-path}}
        kubescore=${{steps.setup.outputs.kube-score-path}}

        ${kubectl} version --output=json
        ${kustomize} version
        ${helm} version
        ${kubeval} --version
        ${kubeconform} -v
        ${conftest} --version
        ${yq} --version
        ${rancher} --version
        ${tilt} version
        ${skaffold} version
        ${kubescore} version

  test2:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ./
      with:
        kubectl: '1.17.1'
        kustomize: '3.7.0'
        helm: '3.2.4'
        kubeval: '0.16.1'
        kubeconform: '0.5.0'
        conftest: '0.18.2'
        yq: '4.7.1'
        rancher: '2.4.10'
        tilt: '0.18.11'
        skaffold: '1.20.0'
        kube-score: '1.10.1'
      id: setup
    - run: |
        kubectl version --output=json
        kustomize version
        helm version
        kubeval --version
        kubeconform -v
        conftest --version
        yq --version
        rancher --version
        tilt version
        skaffold version
        kube-score version
    - run: |
        kubectl=${{steps.setup.outputs.kubectl-path}}
        kustomize=${{steps.setup.outputs.kustomize-path}}
        helm=${{steps.setup.outputs.helm-path}}
        kubeval=${{steps.setup.outputs.kubeval-path}}
        kubeconform=${{steps.setup.outputs.kubeconform-path}}
        conftest=${{steps.setup.outputs.conftest-path}}
        yq=${{steps.setup.outputs.yq-path}}
        rancher=${{steps.setup.outputs.rancher-path}}
        tilt=${{steps.setup.outputs.tilt-path}}
        skaffold=${{steps.setup.outputs.skaffold-path}}
        kubescore=${{steps.setup.outputs.kube-score-path}}

        ${kubectl} version --output=json
        ${kustomize} version
        ${helm} version
        ${kubeval} --version
        ${kubeconform} -v
        ${conftest} --version
        ${yq} --version
        ${rancher} --version
        ${tilt} version
        ${skaffold} version
        ${kubescore} version

  test3:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ./
      with:
        arch-type: 'amd64'
        setup-tools: |
          kubectl
          helm
          kustomize
          skaffold
        kubectl: '1.17.1'
        helm: '3.2.4'
        kustomize: '3.7.0'
        skaffold: '1.20.0'
      id: setup
    - run: |
        kubectl version --output=json
        kustomize version
        helm version
        skaffold version
    - run: |
        kubectl=${{steps.setup.outputs.kubectl-path}}
        kustomize=${{steps.setup.outputs.kustomize-path}}
        helm=${{steps.setup.outputs.helm-path}}
        kubeval=${{steps.setup.outputs.kubeval-path}}
        kubeconform=${{steps.setup.outputs.kubeconform-path}}
        conftest=${{steps.setup.outputs.conftest-path}}
        yq=${{steps.setup.outputs.yq-path}}
        rancher=${{steps.setup.outputs.rancher-path}}
        tilt=${{steps.setup.outputs.tilt-path}}
        skaffold=${{steps.setup.outputs.skaffold-path}}
        kubescore=${{steps.setup.outputs.kube-score-path}}

        if [ ! -z ${kubectl} ]; then
          ${kubectl} version --output=json 
        fi
        if [ ! -z ${kustomize} ]; then
          ${kustomize} version
        fi
        if [ ! -z ${helm} ]; then
          ${helm} version
        fi
        if [ ! -z ${kubeval} ]; then
          ${kubeval} --version
        fi
        if [ ! -z ${kubeconform} ]; then
          ${kubeconform} -v
        fi
        if [ ! -z ${conftest} ]; then
          ${conftest} --version
        fi
        if [ ! -z ${yq} ]; then
          ${yq} --version
        fi
        if [ ! -z ${rancher} ]; then
          ${rancher} --version
        fi
        if [ ! -z ${tilt} ]; then
          ${tilt} version
        fi
        if [ ! -z ${skaffold} ]; then
          ${skaffold} version
        fi
        if [ ! -z ${kubescore} ]; then
          ${kubescore} version
        fi

  # ARM test
  test4:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ./
      with:
        arch-type: 'arm64'
      id: setup
    - run: |
        kubectl=${{steps.setup.outputs.kubectl-path}}
        kustomize=${{steps.setup.outputs.kustomize-path}}
        helm=${{steps.setup.outputs.helm-path}}
        kubeval=${{steps.setup.outputs.kubeval-path}}
        kubeconform=${{steps.setup.outputs.kubeconform-path}}
        conftest=${{steps.setup.outputs.conftest-path}}
        yq=${{steps.setup.outputs.yq-path}}
        rancher=${{steps.setup.outputs.rancher-path}}
        tilt=${{steps.setup.outputs.tilt-path}}
        skaffold=${{steps.setup.outputs.skaffold-path}}
        kubescore=${{steps.setup.outputs.kube-score-path}}

        if [ ! -z ${kubectl} ]; then
          file ${kubectl}
        fi
        if [ ! -z ${kustomize} ]; then
          file ${kustomize}
        fi
        if [ ! -z ${helm} ]; then
          file ${helm}
        fi
        if [ ! -z ${kubeval} ]; then
          file ${kubeval}
        fi
        if [ ! -z ${kubeconform} ]; then
          file ${kubeconform}
        fi
        if [ ! -z ${conftest} ]; then
          file ${conftest}
        fi
        if [ ! -z ${yq} ]; then
          file ${yq}
        fi
        if [ ! -z ${rancher} ]; then
          file ${rancher}
        fi
        if [ ! -z ${tilt} ]; then
          file ${tilt}
        fi
        if [ ! -z ${skaffold} ]; then
          file ${skaffold}
        fi
        if [ ! -z ${kubescore} ]; then
          file ${kubescore}
        fi

